<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samples.flironecamera">

    <uses-sdk />
    <!-- some hw might not support Usb Host mode so it's recommended to add this -->
    <!-- <uses-feature android:name="android.hardware.usb.host" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera2.CameraDevice" /> <!-- some hw might not support Usb Host mode so it's recommended to add this -->
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/tfe_od_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".test_home"
            android:noHistory="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
<!--                android:resource="@xml/device_filter" />-->
        </activity>
        <activity android:name=".change_pass" />
        <activity
            android:name=".login"
            android:noHistory="true">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>


             <meta-data
             android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
             android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->


            <!-- <meta-data -->
            <!-- android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" -->
            <!-- android:resource="@xml/device_filter" /> -->
        </activity>
        <activity
            android:name=".DetectorActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->
<!--             <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->


<!--             <meta-data-->
<!--             android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
<!--             android:resource="@xml/device_filter" />-->
        </activity>
    </application>

</manifest>